
header{
    background-image: url(../images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto 0;
    height: 600px;
    margin: 50px 90px;
}

.banner-text{
    color: white;
    text-align: center;
    width: 632px;

}
.banner-text h3{
    font-size: 32px;
}
.banner-text h1{
    font-size: 72px;
    margin: 0;
}




.section-1{
    /* width: 1520px; */
    /* background-color: aquamarine; */
    text-align: center;
    justify-content: center;
    align-items: center;
}
.section-1-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 120px 200px;
    /* background-color: rgb(193, 204, 204); */

}
.section-1-container h1{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin: 0;
    margin-bottom: 30px;
}
.section-1-container h4{
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
    margin: 0;
}
.section-1-container h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}


/* section 2 */

.section-2{
    background-image: url(../images/Vectorrr.png);
    background-size: cover;
    background-position: center;
    margin: 30px 100px;
    height: 600px;
    width: auto 0;
    background-repeat: no-repeat;
    justify-content: center;
}
.section-2-container{
    display: flex;
    justify-content: center;
    /* background-color: rgb(144, 131, 113); */
    margin: 10px 50px 20px 100px;
}
.section-2-text{
    padding: 80px 0 0 0;
    color: white;
}
.section-2-text h1{
    font-size: 64px ;
    margin-bottom: 0;
    font-family: "Rubik", serif;
    font-weight: 400;
}
.section-2-text p{
    font-size: 18px;
}
.section-2-text h3{
    font-size: 20px;
    font-weight: 800;
}
.section-2-container-img{
    padding: 60px 50px 0 0;
}


.section-3{
    background: linear-gradient(#ff000036,#e405050b) ;
    margin: 80px 100px;
    border-radius: 16px;
    justify-items:center;
    height: 480px;
    padding-top: 150px;

}
.section-3-container{
    /* border: 2px solid black; */
    text-align: center;
    font-family: "Inter", serif;
    padding: 50px 20px;
}
.section-3-container h3{
    font-size: 32px;
    font-weight: 600;
    margin: 10px;
    
}
.section-3-container button{
    background-color: #FF0000;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.section-3-container span{
    color: #FF0000;
}


.section-4{
    /* border: 1px solid red; */
    padding-top: 20px;
    margin: 100px 100px;
    display: flex;
    justify-content: space-between;

}

.section-4 h3{
    font-size: 24px;
    color: #FF0000;
    
}
.section-4 h1{
    font-size: 48px;
    font-family: "Rubik", serif;
    font-weight: 500;
    margin-top: 0;
    
}
.section-4 p{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", serif;
}
.drop-img{
    margin: 0 150px 0 50px;
}
.section-4 span{
    color: #FF0000;
}




.section-5 {
    margin: 100px 100px;
    border: 2px solid #FF0000;
    justify-content: center;
    align-items: center;
}

.section-5-text{
    text-align: center;
}





.section-6{
    margin: 100px 100px;
}
.section-6 h4{
    color: #FF0000;
    font-size: 24px;
    font-family: "Inter", serif;
    margin: 0;

}

.section-6 h1{
    font-size: 48px;
    font-family: "Rubik", serif;
    margin: 0;
}
.section-6 p{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}

.section-7{
    background-color: #ff000019;
    margin: 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-7 #email-icon{
    margin-top: 50px;
}
.section-7 h1{
    font-size: 48px;
    font-family: "Rubik", serif;
    color: #070211;
}
.section-7 p{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin: 0px 200px 50px 200px;
}
.section-7 div input{
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 18px 40px ;
    font-size: 20px;
}
.section-7 div button{
    border: none;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", serif;
    padding: 18px 20px;
    border-radius: 0 50px 50px 0;
}
.btn-email{
    margin-bottom: 50px;
    /* border: 1px solid green; */
    align-items: center;
}